
<div class="content" role="main">
  <stage-comp [width]=1760 [height]=978> TableComponent here</stage-comp>
  <div  style="position: absolute; top: 10px; left: 15px; z-index: 9999">
    <a href="https://docs.google.com/document/d/1qkTX3KQAgE9lSL9dvZEAgiO7CAfmuvQDSesZIN9-JDo/view#" target="_blank" rel="noopener">{{ title }}</a>
    <br/>
    <span>{{ timestamp }}</span>
    <br/>
    <div class="f4">Game: <span id="group_name">----</span></div>
    <br/>
    <button type="submit" id="fsOpenFileButton" onclick="showOpenFilePicker()">OpenFile</button>
    <br/>
    <!-- P&P templte: single-sided = 2550 x 3300 [landscape, 7x5 EWtopo] or double-sided = 5100 x 3300 [portrait] -->
    <!-- 1 inch circle Premium Label Supply: [height]=3290 [width]=2530 -->
    <a id="makePage"><button type="button">MakePage</button></a>
    <br/>
    <a id="viewPage"><button type="button">ViewPage</button></a>
    <br/>
    <a id="download" download="image.png"><button type="button">Download</button></a>
  </div>
  <!-- preload the font in use -->
  <div style="font-size: 0px;">
    <div class="fi">M</div>
    <div class="f1">M</div>
    <div class="f2">M</div>
    <div class="f3">M</div>
    <div class="f4">M</div>
    <div class="f5">M</div>
    <div class="f6">M</div>
    <div class="f7">M</div>
    <div class="f8">M</div>
    <div class="f9">M</div>
    <div class="f10">M</div>
  </div>
  <!-- location for canvas created for ViewPage; scale: .1 -->
  <div id = 'canvasDiv'
    style="position: absolute; top: 170px; left: 15px; z-index: 9; scale: .1; width: 360px; height: 540px; transform-origin: 0px 0px">
  </div>
</div>
